* {
  box-sizing: border-box;
}
.options {
  background-color: #dedede;
  box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.7);
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px;
  z-index: 1000;
}

.options ul {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.options ul li {
  padding: 10px 20px;
}

.options input,
.options button {
  text-align: center;
  width: 45px;
}

.options button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  padding-top: 15px;
}

#saveBtnImage {
  color: #066004;
}

#clear {
  color: #bd0000;
}

.options label {
  display: block;
  font-size: 17px;
  margin-bottom: 3px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
